.app-content-loading {
  background: #fff none repeat scroll 0 0;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}
.loading-spinner {
  font-size: 50px;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
}
.test {
  color: green;
}
